body {
    background-color: #1F2937;
    color: #F9FAF8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;

    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

header {
    display: flex;    
}

.logo {
    font-size: 24px;
    font-weight: bolder;
/* In the original image the information about the weight is missing. */
    
}

.menu {
    font-size: 18px;
    margin-left: auto;

    display: flex;
    gap: 20px;
}


header, .first-section, .second-section, .quote{
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px;
}

.first-section {
    display: flex;
    margin: 100px 0 ;
}

.first-section h1 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.first-section p {
    font-size: 18px;
    margin-top: 5px;
}

.first-section .CTA {
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
   
    color: #F9FAF8;
    font-size: 16.5px;
    font-weight: bolder;
    padding: 0px;
    height: 37.5px;
    width: 130px;
}

.second-section {
    background-color:#F9FAF8;
    color: #1F2937;
    text-align: center;
    padding-bottom: 100px;
}

.second-section h2 {
    font-size: 38px;
}

.boxes-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    
}

.sub-boxes-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-basis: 50px;
}

.sub-boxes-container .text {
    margin-top: 15px;
    flex-grow: 0;
}

.box {
    border: 3px solid #3882F6;
    border-radius: 8px;
    height: 150px;
    width: 150px;
}

.quote {
    background-color: #E5E7EB;
    padding-bottom: 100px;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.quote-text {
    padding-left: 100px;
}

.quote-name {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}